.btn-flat {
  text-decoration:none;
  color: white;
  padding: 2px;
  border-radius: 4px;
  background: #1EDD88;
  transition: opacity 0.3s ease;
  font-size: 13px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}


.btn-flat-connexion {
  text-decoration:none;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: opacity 0.3s ease;
  width: 13%;
  margin-bottom: 10px;
  margin-top: 10px;
}
