.card-garden {
  margin-top: 40px;
  overflow: hidden;
  background: white;
  padding: 10px;
  width: calc(25% - 10px);
}

.card-garden > a > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-garden h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-garden h6 {
  font-size: 14px;
  margin: 0;
}

.card-garden p {
  font-size: 12px;
  opacity: .7;
}


.card-garden-infos {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card-garden-infos-dashboard {
  display: block;
}
.card-garden-pricing {
text-align: right;
}

.card-dashboard-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-height: 400px;
  }
}
