// card classic

//smalest devices
@media (min-width: 100px) and (max-width: 575px) {
  .cards  {
    display: grid;
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-gap: 45px;
  }
}

.card-garden {
  height: 330px;
  width: 280px;
  margin-top: 10px;
  overflow: hidden;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px #00000033;
  position: relative;
}

.card-resa {
  height: 385px;
  width: 280px;
  margin-top: 10px;
  overflow: hidden;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px #00000033;
  position: relative;
}


.garden-container {
  margin: auto;
  width: fit-content;
  align-content: center;
  justify-content: center;
}

.img-garden {
  height: 200px;
  width: 280px;
  object-fit: cover;

}

a {
  text-decoration: none;
  color: black;
}

// card to add garden in dashboard

.card-dashboard-center {
  height: 330px;
  width: 250px;
  margin-top: 10px;
}

.card-dashboard-center.card-add-garden {
  border: solid #1bdd87 10px;
}
a.btn.btn-flat.btn-add.btn-add-in-card {
  background: white;
  color: #1bdd87;
  font-size: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
