#map {
  height: 100vh!important;
  position: sticky;
  right:0;
  width: 40%!important;
  border: 1mm ridge #e9e6e6;
  box-shadow: 0 0 6px rgb(234, 237, 234);
}

.gardens {
  width: 60% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card-garden {
    width: calc(30% - 10px);

}
}
