// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "pages/home";
@import "components/footer";
@import "components/button_green";
@import "pages/dashboard";
@import "components/roomnav";

// police

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;800&display=swap');

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Manrope", "Helvetica", "sans-serif";
}
h1{
  font-size: 20px;
  font-weight: bold;
}
h2{
  font-size: 18px;
}

h3{
  font-size: 16px;
}

h4{
  font-size: 14px;
}

p, a{
  font-size: 12px;
}
